<!-DOCTYPE html>
<html>
  <head>
    <style>
         body {
          background-color: rgb(219, 241, 219);
          text-align: center;
        }
    </style
  </head>
  <body>
      <br><br>
      <h3>Congratulations on Completing your Wellness Task!</h3>
      <div id="button">
        <button type="reset" onClick="hide()">Back to Submission Page</button>
      </div>
    
    <script>
        function hide () {
            document.getElementById("button").style.display= "none";
            location.href="/";
        }
    </script>
  </body>
</html>